.block {
  display: inline-block;
  text-align: center;
  border: 2px solid rgb(235, 0, 0);
  /* width: 250px;
  height: 370px; */
  border-radius: 3%;
  overflow: hidden;
}
.blockBig {
  padding: 5px 5px 5px 0;
}

.img {
  width: 10vw;
  margin-bottom: 10px;
}

.p {
  color: rgb(173, 177, 176);
}
.userStats {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid rgb(235, 0, 0);
  padding-inline-start: 0;
  margin: 0;

  padding: 10px;
}

.StatItem {
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60px;
  max-height: 65px;
  /* border: 1px solid teal; */
}

.titleItem {
  font-weight: 500;
  font-size: 14px;
}

.userStats {
  background-color: rgba(51, 228, 184, 0.329);
}
